.main
  .main-left
    - if current_user
      友人を検索してみよう
      = form_tag(users_search_path, method: :get) do
        = text_field :"", :word, class: "tweet-form", placeholder: "キーワード"
        = submit_tag "検索する"
    = render partial: "users/user", collection: @users

