- if current_user
  - if (tweet.user.visible? && current_user.following?(tweet.user)) || tweet.user == current_user
    = render partial:"tweets/tweet_detail", locals: {tweet: tweet}
- else
  - if tweet.user.visible?
    = render partial:"tweets/tweet_detail", locals: {tweet: tweet}
