.main
  .main-left
    今何してる？
    %form
      %input
      %input{type: "submit"}


    .tweet-index
      .account-name
        アカウント名
      .tweet-body
        つぶやき
      .tweet-time
        時間
    .tweet-index
      .account-name
        アカウント名
      .tweet-body
        つぶやき
      .tweet-time
        時間
    .tweet-index
      .account-name
        アカウント名
      .tweet-body
        つぶやき
      .tweet-time
        時間
    .tweet-index
      .account-name
        アカウント名
      .tweet-body
        つぶやき
      .tweet-time
        時間
  .main-right
    .profile
      .profile-top
        ユーザーネーム
      .profile-bottom
        .followed
          フォローされている
        .following
          フォローしている
        .num-of-tweets
          投稿数
