.main
  .main-left
    いまなにしてる？
    %form
      %input{type: "text", class: "tweet-form", cols:"30",  rows:"10"}
      %input{type: "submit"}
    .tweet-home
      ホーム
      .tweets
        .tweet
          .tweet__account-name
            アカウント名
          .tweet__body
            つぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやきつぶやき
          .tweet__time
            5分前
        .tweet
          .tweet__account-name
            アカウント名
          .tweet__body
            つぶやき
          .tweet__time
            水曜日, 2017年2月8日 (JST)
        .tweet
          .tweet__account-name
            アカウント名
          .tweet__body
            つぶやき
          .tweet__time
            水曜日, 2017年2月8日 (JST)
        - 7.times do |i|
          .tweet
            .tweet__account-name
              アカウント名
            .tweet__body
              つぶやき
            .tweet__time
              水曜日, 2017年2月8日 (JST)
  .main-right
    .profile.clearfix
      .profile__avatar
        = image_tag("noimage.jpeg", class:"avatar")
      .profile__username
        ユーザー名
    %table
      %tr
        %td
          100
        %td
          100
        %td
          100
      %tr.profile-title
        %td.followed
          フォロー
          %br
          されている
        %td.following
          フォロー
          %br
          している
        %td.num-of-tweets
          投稿数


