a {
  text-decoration: none;
  color: $mainBlueColor;
}
.btn {
  background-color: white;
  border-radius: 5px;
  padding: 2px;
}
.btn-primary {
  background-color: $mainBlueColor;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.devise-flash {
  background-color: red;
  color: red;
}

#error_explanation {
  background-color: yellow;
  color: red;
  padding: 10px;
  border-radius: 5%;
}

.alert {
  .container {
    color: red;
    background-color: yellow;
    text-align: center;
  }
}
